@import "../../../variables.sass"

.Task
  display: flex
  justify-content: space-between

.task-time-icon
  color: inherit

.task-tittle
  h4
    margin-bottom: 4px

.delay
  color: $accent-second-color
