.LeftBar {
  background-color: #0e1a35;
  display: inline-block; }
  .LeftBar h1 {
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block; }
  .LeftBar .logo {
    padding: 20px; }

.nav-bar {
  padding: 30px 50px; }

.nav-item {
  padding: 10px 0; }

a {
  color: #fff; }
