@import '../../../variables.sass'

.welcome-button
  color: #fff
  background: $accent-color
  font: 700 $button-adaptive-font/14.4px Roboto, sans-serif
  padding: 1.2vmax 9vmax
  border-radius: 50px
  margin: 6vmax 0
  transition: all 300ms ease
  &-icon
    vertical-align: middle
    font-size: 1.4vmax
    color: #fff
    margin-left: -3vmax
  &:hover
    box-shadow: inset 11em 0 darken($accent-color, 10%)

//media-queries
@media only screen and (max-width : 1200px)
  /**/

@media only screen and (max-width : 992px)
  /**/

@media only screen and (max-width : 768px)
  /**/

@media only screen and (max-width : 576px)
  /**/

@media only screen and (max-width : 480px)
  /**/

@media only screen and (max-width : 320px)
  /**/
