.select-wrapp
  .select-label
    margin-right: -6.2vmax
    font: 500 1.0vw Roboto, sans-serif
    vertical-align: middle

.Select
  cursor: pointer
  background: inherit
  color: #0e1a35
  font-weight: 500
  line-height: 30px
  font-size: 1vmax
  padding: 0.4vmax 3.2vmax 0.4vmax 7vmax
  border-radius: 30px
  border: 1px solid rgba(132, 146, 175, 0.3)
  -webkit-appearance: none
  -moz-appearance: none

  option
    color: #0e1a35
    font-weight: 500

.select-caret
  margin-left: -2.3vmax
.select-option
  width: 250%