@import "../../../../variables.sass"

.total-sales-charts
  .col-md-4
    display: flex
    justify-content: center
    align-items: center

.total-sum
  color: $gray
  font: 700 36px Roboto, sans-serif
  span
    font-size: 20px
    font-weight: 300